
label{
  font-size: 23px;
}

@media (max-width: 576px) {
  label{
    font-size: 18px;
  }
  h4{
    font-size: 23px;
  }
}

.todolist{
  margin-top: 70px;
  }

.cancelBtn{
  background-color: rgb(117, 174, 192);
}
