<app-navbar></app-navbar>

<div class='container'>

  <!-- <div class="row">
    <div class="col mt-4 mb-4 border border-danger">
      <div class="col-md-8 mx-auto"> -->
        <router-outlet></router-outlet>
      <!-- </div>
    </div>
  </div> -->
<div class="space">

</div>
</div>
<footer class="text-muted navbar-dark fixed-bottom py-1 bg-dark ">
  <div class="container mx-auto text-center">
    <p class="float-end mb-1">
      Wrocław, dnia {{today|date:'dd.MM.yyyy'}} r.
      <!-- <a href="#">Wrocław, dnia {{today|date:'dd.MM.yyyy'}} r. </a> -->
    </p>

  </div>
</footer>

