<div class="container todolist">
  <div class="row justify-content-center my-1 py-0">
    <h4>Edytuj zadanie</h4>
  </div>
  <form (ngSubmit)="updateData()" [formGroup]="form">
    <div class="form-group">
      <label for="title">Nazwa</label>
      <input type="text" maxlength="30" formControlName="title" class="form-control">
      <div *ngIf="submitted&&f.invalid">
        <div class="redText">Pole jest wymagane</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Opis</label>
      <input type="text" maxlength="110" formControlName="description" class="form-control">


    </div>
    <div class="form-group">
      <label for="salary">Koszty</label>
      <input type="text" maxlength="110" formControlName="body" class="form-control" placehoder='data.body'>



    </div>
    <div class="form-group">
      <label for="deadline">Data końcowa</label>
      <input type="date" min="{{today|date:'yyyy-MM-dd'}}" formControlName="deadline" class="form-control">


    </div>

    <div class="d-flex justify-content-around align-items-center">
      <button class="btn btn-primary btn-sm my-1">Zapisz</button>
      <button class="btn btn-primary btn-sm my-1 cancelBtn" routerLink="/">Anuluj</button>

    </div>

  </form>

</div>
