.todolist{
  margin-top: 70px;
  }

  a{
    text-decoration: none;
  }

  body{
    /* background-image: '../../../assets/background.jpg'; */
    background:url(/assets/bg3.jpg);
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;

  }
